- %w[music sounds].each do |feature|
  = image_tag("#{feature}_on_#{color}.png", class: "#{feature} #{feature}_on", id: "#{feature}_on", data: { immediately: immediately })
  = image_tag("#{feature}_off_#{color}.png", class: "#{feature} #{feature}_off", id: "#{feature}_off", style: 'display: none', data: { immediately: immediately })