- additional_class ||= ''
= image_tag(kingdom.emblem_avatar.url, class: "emblem-avatar #{additional_class}", data: { id: kingdom.id, name: kingdom.name, king: kingdom.king })
.hidden hidden='true'
  = image_tag(kingdom.king_avatar.url, class: "king-avatar", data: { id: kingdom.id })