
.kingdoms {
  width: 100%;
  text-align: center;
}

.kingdoms img {
  display: inline-block;
  margin: 3em;
}

#dialogue {
  margin: 0% 20%;
  text-align: center;
  background-image: url(papyrus.jpg);
}

#dialogue .dialogue_window {
  width: 100%;
}

#dialogue .avatar {
  width: 50%;
  margin-left: 50%;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

#dialogue .avatar img {
  height: 20em;
}

#dialogue #chat {
  position: relative;
  height: 19em;
  overflow-y: scroll;
}

#dialogue .message_form {
  height: 1em;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}
